header {
  width: 100%;
  background: rgb(47, 47, 164);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(198, 197, 197);
  margin-bottom: 30px;
}
i {
  font-size: 30px;
  width: 45px;
  height: 45px;
  border: 3px solid rgb(47, 47, 164);
  border-radius: 100%;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
i:hover {
  color: yellow;
  border-color: yellow;
  transform: scale(1.03);
}
