body {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enrolleesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 100%;
  height: 30px;
  font-size: 20px;
}
button {
  height: 30px;
  width: 100%;
  border: 2px solid rgb(47, 47, 164);
  border-radius: 5px;
  font-size: 20px;
  color: rgb(198, 197, 197);
  background: rgb(47, 47, 164);
  box-shadow: 1px 1px 1px 1px rgb(63, 63, 63);
  margin: 0px 5px;
}
button:hover {
  transform: scale(1.03);
}
label {
  text-indent: -10000px;
}
h1 {
  color: rgb(47, 47, 164);
}
.enrollee {
  width: 90%;
  padding: 2px;
  text-align: center;
  color: rgb(198, 197, 197);
  background: rgb(47, 47, 164);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  box-shadow: 1px 1px 1px 1px rgb(63, 63, 63);
}
.enrollee:hover {
  transform: scale(1.03);
}
h2 {
  padding-left: 40px;
}
.nonActive {
  color: grey;
  border-color: grey;
}
.circle {
  width: 20px;
  height: 20px;
  margin-right: 40px;
  background: green;
  border-radius: 100%;
}
.green {
  background: green;
}
.red {
  background: red;
}
.enrolleeDetails {
  border: 1px solid blue;
  position: absolute;
  left: -100px;
  top: 25%;

  animation: slideIn 1s linear forwards;
}

@keyframes slideIn {
  to {
    left: 50%;
    transform: translateX(-50%);
  }
}
