<body>
  <app-loader *ngIf="enrollee === undefined"></app-loader>
  <div
    class="enrolleeContainer"
    id="enrolleeContainer"
    *ngIf="enrollee != undefined"
  >
    <h1>Enrollee Details</h1>
    <i
      class="fas fa-arrow-left"
      title="Back to home"
      (click)="handleBackArrowClick()"
    ></i>
    <h2>Name: {{ enrollee.name }}</h2>
    <h2>
      Status:
      <span [ngClass]="enrollee.active ? 'green' : 'red'"
        ><span *ngIf="!enrollee.active"> Not </span>Active</span
      >
      <div class="circle" [ngClass]="enrollee.active ? 'green' : 'red'"></div>
    </h2>
    <h3>ID: {{ enrollee.id }}</h3>
    <h3>Date of Birth: {{ enrollee.dateOfBirth | date }}</h3>
    <button (click)="handleEditClick()">
      <i class="fas fa-pencil-alt" title="Edit Enrollee"></i>
    </button>
  </div>
</body>
